<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.persianchess.www"
        versionCode = "117" 
        version     = "1.1.7" >

    <!-- versionCode is optional and Android only -->

    <name>Persian Chess</name>

    <platform name="android">
              <icon src="res/android/ldpi.png" density="ldpi" />
              <icon src="res/android/mdpi.png" density="mdpi" />
              <icon src="res/android/hdpi.png" density="hdpi" />
              <icon src="res/android/xhdpi.png" density="xhdpi" />
    </platform>

    <icon src="img/logo.png" />

    <description>
        Chess variant: Persian Chess 
    </description>

    <author href="https://www.persianchess.com" email="aahmadi@schubergphilis.com">
        Anooshiravan Ahmadi
    </author>

    <gap:platform name="android" />
    
    <gap:config-file platform="android" parent="/manifest" mode="add">
        <uses-feature android:name="android.hardware.camera" android:required="false" />
        <uses-feature android:name="android.hardware.telephony" android:required="false" />
    </gap:config-file>


    <preference name="android-minSdkVersion" value="11" />
    <preference name="permissions" value="none"/>
</widget>